<footer class="footer">
  <div class="footer__container main">
    <app-button class="footer__btn" routerlink="" width="w100" theme="invert" size="m" text="связаться с нами">
    </app-button>

    <a href="https://sitenn.ru" class="footer__sitenn">разработка сайта — сайт нн</a>
  </div>

  <div class="footer__container">
    <div class="footer__center">
      <div class="footer__content">
        <a href="mailto:zaodmf@yandex.ru" class="footer__link-item"><u>zaodmf&#64;yandex.ru</u></a>

        <div class="footer__link-item">
          <p>Оптовый отдел</p>
          <a href="tel:+78313211314">+7 (8313) 21-13-14</a>
        </div>
        <div class="footer__link-item">
          <p>Мебельный салон</p>
          <a href="tel:+79087268881">+7 (908) 726-88-81</a>
        </div>
      </div>

      <div class="footer__content nav">
        <a routerLink="/" class="footer__nav-item">Главная</a>
        <a href="#homeAbout" class="footer__nav-item">О нас</a>
        <a routerLink="catalog" class="footer__nav-item">Каталог</a>
        <a routerLink="" class="footer__nav-item">мебель на заказ</a>
        <a routerLink="" class="footer__nav-item">Доставка и оплата</a>
        <a routerLink="" class="footer__nav-item">Отзывы</a>
        <a routerLink="" class="footer__nav-item">Контакты</a>
      </div>
    </div>
  </div>

  <div class="footer__container main">
    <img class="footer__logo" src="/assets/img/logoFooter.png">
  </div>

  <div class="footer__container sub">
    <div class="footer__center">
      <img class="footer__logo" src="/assets/img/logoFooter.png">

      <div class="footer__content">
        <app-button class="footer__btn" routerlink="" width="w100" theme="invert" size="m" text="связаться с нами">
        </app-button>
  
        <a href="https://sitenn.ru" class="footer__sitenn">разработка сайта — сайт нн</a>
      </div>
    </div>
  </div>
</footer>