.discountItemPage {
  display: flex;
  flex-direction: row;
  gap: 60px;

  &__img {
    width: 40%;
  }

  &__description {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__btn {
    margin: 100px 0 0 auto;
  }
}