<app-home-slider></app-home-slider>

<div class="content">

  <app-home-about id="homeAbout" class="homeBlock"></app-home-about>

  <h2 class="title homeBlockTitle">Каталог</h2>

  <app-categories-list class="homeBlockSmall"></app-categories-list>

  <h2 class="title homeBlockTitle">Акции и скидки</h2>
  
  <app-discount-list class="homeBlockSmall" count="small"></app-discount-list>

  <div class="homeReviews">
    <h2 class="title blue homeBlockTitle">Отзывы</h2>
    <a routerLink="/reviews" class="homeReviews__btn"></a>
  </div>

  <app-reviews-list class="homeBlockSmall" count="small"></app-reviews-list>

</div>
