.btn {
  width: fit-content;
  background-color: transparent;
  border: 2px solid var(--dark-blue);
  border-radius: 50px;
  color: var(--dark-blue);
  text-transform: uppercase;

  &:hover {
    -webkit-text-stroke: 1px var(--dark-blue);
    text-stroke: 1px var(--dark-blue);
  }
}

.invert {
  border: 2px solid white;
  color: white;
  background-color: rgba(217, 217, 217, 0.1);

  &:hover {
    margin: -1px;
    border: 3px solid white;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
  }
}

.xs {
  font: var(--font-xs);
  padding: 6px 24px;
}

.m {
  font: var(--font-m);
  padding: 15px 30px;
}
.w100 {
  display: block;
  width: 100%;
  min-width: fit-content;
  text-align: center;
}