.categoriesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 80px;

  &__item {
    width: calc(50% - 10px);
  }

  &__skeleton {
    width: calc(50% - 10px);
    aspect-ratio: 2 / 1;
  }
}


@media screen and (max-width: 780px) {
  .categoriesList {
    &__item {
      width: 100%;
    }

    &__skeleton {
      width: 100%;
      aspect-ratio: 2 / 1;
    }
  }
}