.link {
  position: relative;
  z-index: 3;
  font-family: var(--font-family-main);
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;
  }
}

.blue {
  color: var(--blue);
}

.white {
  color: white;
}

.light {
  font: var(--font-s);
  letter-spacing: 0.2px;
  text-transform: none;

  &:hover {
    font-weight: 600;
    letter-spacing: 0px;
  }
}

.ang {
  padding-right: 30px;
  position: relative;

  &:hover {
    text-decoration: underline;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 21px;
    background: url(/assets/img/arrow-link-black.svg) center/16px no-repeat;
  }

  &.blue::after {
    background-image: url(/assets/img/arrow-link.svg);
    transform: rotate(-45deg);
  }

  &.white::after {
    background-image: url(/assets/img/arrow-link-black.svg);
    filter: invert(1);
  }
  

  &.light::after {
    background-size: 14px;
    background-image: url(/assets/img/arrow-link-light.svg);
    transform: rotate(0);
  }
}

.xs {
  font: var(--font-xs);
}
.s {
  font: var(--font-s);
}
.m {
  font: var(--font-m);
}