<div class="overlaySlider">
  <swiper-container init="false" slides-per-view="1" grab-cursor="true" pagination="true" loop="true">
    <swiper-slide class="overlaySlider__slide">
      <img src="/assets/img/mainSlider1.jpg" class="overlaySlider__img">
      <div class="overlaySlider__container">
        <h1 class="overlaySlider__title">Красивые и практичные решения для любого интерьера</h1>
        <p class="overlaySlider__text">Изготавливаем мебель только из качественных материалов, с заботой о жизни и
          здоровье человека</p>
        <app-button routerlink="catalog" class="overlaySlider__btn" theme="invert" size="m" text="сделать заказ"></app-button>
      </div>
    </swiper-slide>
    <swiper-slide class="overlaySlider__slide">
      <img src="/assets/img/mainSlider1.jpg" class="overlaySlider__img">
      <div class="overlaySlider__container">
        <h1 class="overlaySlider__title">Красивые и практичные решения для любого интерьера</h1>
        <p class="overlaySlider__text">Изготавливаем мебель только из качественных материалов, с заботой о жизни и
          здоровье человека</p>
        <app-button routerlink="catalog" class="overlaySlider__btn" theme="invert" size="m" text="сделать заказ"></app-button>
      </div>
    </swiper-slide>
    <swiper-slide class="overlaySlider__slide">
      <img src="/assets/img/mainSlider1.jpg" class="overlaySlider__img">
      <div class="overlaySlider__container">
        <h1 class="overlaySlider__title">Красивые и практичные решения для любого интерьера</h1>
        <p class="overlaySlider__text">Изготавливаем мебель только из качественных материалов, с заботой о жизни и
          здоровье человека</p>
        <app-button routerlink="catalog" class="overlaySlider__btn" theme="invert" size="m" text="сделать заказ"></app-button>
      </div>
    </swiper-slide>
    <swiper-slide class="overlaySlider__slide">
      <img src="/assets/img/mainSlider1.jpg" class="overlaySlider__img">
      <div class="overlaySlider__container">
        <h1 class="overlaySlider__title">Красивые и практичные решения для любого интерьера</h1>
        <p class="overlaySlider__text">Изготавливаем мебель только из качественных материалов, с заботой о жизни и
          здоровье человека</p>
        <app-button routerlink="catalog" class="overlaySlider__btn" theme="invert" size="m" text="сделать заказ"></app-button>
      </div>
    </swiper-slide>
    <swiper-slide class="overlaySlider__slide">
      <img src="/assets/img/mainSlider1.jpg" class="overlaySlider__img">
      <div class="overlaySlider__container">
        <h1 class="overlaySlider__title">Красивые и практичные решения для любого интерьера</h1>
        <p class="overlaySlider__text">Изготавливаем мебель только из качественных материалов, с заботой о жизни и
          здоровье человека</p>
        <app-button routerlink="catalog" class="overlaySlider__btn" theme="invert" size="m" text="сделать заказ"></app-button>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
