<section class="content">
  <div class="catalogList" *ngIf="!isLoad">
    <app-catalog-item-card class="catalogList__item" [ngClass]="{'small': isSmall}" *ngFor="let product of products"
      [product]="product" [isSmall]="isSmall"></app-catalog-item-card>

      
  </div>
  
  <div class="catalogList" *ngIf="isLoad">
    <app-skeleton class="catalogList__skeleton" [ngClass]="{'small': isSmall}"></app-skeleton>
    <app-skeleton class="catalogList__skeleton" [ngClass]="{'small': isSmall}"></app-skeleton>
    <app-skeleton class="catalogList__skeleton" [ngClass]="{'small': isSmall}"></app-skeleton>
    <app-skeleton class="catalogList__skeleton" [ngClass]="{'small': isSmall}"></app-skeleton>
    <app-skeleton class="catalogList__skeleton" [ngClass]="{'small': isSmall}"></app-skeleton>
    <app-skeleton class="catalogList__skeleton" [ngClass]="{'small': isSmall}"></app-skeleton>
  </div>
</section>