.reviewsPage {
  margin: 50px auto 110px auto;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__btn {
    width: 24px;
    height: 24px;
    background: url(/assets/img/plus.svg) center/contain no-repeat;
  }
}