.form {
  display: flex;
  flex-direction: column;


  &__title {
    margin: 80px 0 40px 0;
    font: var(--font-l);
    text-transform: uppercase;
    letter-spacing: -0.5px;
    vertical-align: top;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    span {
      font: var(--font-xl);
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 20px;
  }

  &__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  &__input {
    width: 100%;
    border-bottom: 1px solid #212529;
    padding: 13px 0;
  }

  &__checkbox {
    display: flex;
    flex-direction: row;
    gap: 16px;

    input {
      height: 20px;
      width: 20px;
      margin-bottom: 25px;
    }
    &:last-child input {
      margin: 0;
    }
  }
}

.basketPage {
  margin-bottom: 110px;

  &__total {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__total-container {
    min-width: 380px;
    max-width: 30%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__total-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    p {
      color: var(--blue);
      font: var(--font-s);
      text-transform: uppercase;
      font-weight: 700;
    }
  }
  &__total-title {
    margin-top: 10px;
    font: var(--font-xl);
    text-transform: uppercase;
  }
  &__btn {
    margin: 0 0 0 auto;
    width: fit-content;
    background-color: transparent;
    border: 2px solid var(--blue);
    border-radius: 50px;
    color: var(--blue);
    text-transform: uppercase;
    font: var(--font-m);
    padding: 15px 30px;
  }
}