
<section class="content">
  <div class="aboutDesc">

    <div class="aboutDesc__container">
      <div class="aboutDesc__left">
        <h2 class="title blue aboutDesc__title">О компании</h2>
        <h6 class="aboutDesc__subtitle">«Дзержинская мебельная фабрика» — это бренд, объединяющий производство и продажу корпусной мебели с 1937 года</h6>
        <p class="aboutDesc__text">За время работы мы зарекомендовали себя как крупный производитель и надежный поставщик качественной мебели. Специалисты нашего производства имеют богатый опыт проектирования и производства мебели по индивидуальным заказам. В процессе изготовления мы используем современное оборудование и собственные разработки, позволяющие получить высококачественную мебель по доступной цене.</p>
        <app-custom-link class="aboutDesc__link" routerlink="catalog" theme="blue" variant="ang" text="посмотреть каталог"></app-custom-link>
      </div>
      <div class="aboutDesc__right">
        <img src="/assets/img/homeAbout1.jpg" alt="" class="aboutDesc__right-img">
      </div>
    </div>

    <div class="aboutDesc__container last">
      <div class="aboutDesc__left">
        <div class="aboutDesc__left-imgs">
          <img src="/assets/img/homeAbout2.jpg" alt="" class="aboutDesc__left-img small">
          <img src="/assets/img/homeAbout3.jpg" alt="" class="aboutDesc__left-img">
        </div>
      </div>
      <div class="aboutDesc__right">
        <img src="/assets/img/logoBlue.svg" alt="" class="aboutDesc__right-logo">
        <p class="aboutDesc__right-text">Процесс изготовления мебели на заказ довольно трудоемкий и сложный, поэтому его стоит доверить профессионалам. Наши специалисты помогут преобразить ваше помещение.</p>
      </div>
    </div>

  </div>

  <div class="aboutPhotos">
    <img class="aboutPhotos__video" src="/assets/img/category/videoZagl.jpg">
    <div class="aboutPhotos__container">
      <img class="aboutPhotos__item" src="/assets/img/about1.jpg">
      <img class="aboutPhotos__item" src="/assets/img/about2.jpg">
      <img class="aboutPhotos__item" src="/assets/img/about3.jpg">
      <img class="aboutPhotos__item" src="/assets/img/about4.jpg">
    </div>
  </div>
</section>